{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <table style="background-color: white">
                <thead>
                <div style="background-color: #e6e6e6">
                    <h1 class="titreG">Liste des Competitions</h1>
                    <tr>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th>Id</th>
                        {% endif %}
                        <th>Date</th>
                        <th>Lieu</th>
                        <th>Departement</th>
                        <th>Club</th>
                        <th>Correspondants</th>
                        <th>Cylindrée Accepté</th>
                        <th>Type</th>
                        <th>Date Limite d'inscription</th>
                        <th>Inscription Ouverte</th>
                        <th>Nb Participants</th>
                        <th>Inscription course</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th>Actions</th>
                        {% endif %}
                    </tr>
                </div>
                </thead>
                <tbody>
                {% for competition in competitions %}
                    <tr style="background-color: white">
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <a href="{{ path('competition_show', { 'id': competition.id }) }}">{{ competition.id }}</a>
                            </td>
                        {% endif %}
                        <td>{{ competition.date | date('d-M-y') }}</td>
                        <td>{{ competition.lieu }}</td>
                        <td>{{ competition.departement }}</td>
                        <td>{{ competition.club }}</td>
                        <td>{{ competition.correspondants }}</td>
                        <td>{{ competition.cylindreAccepter }}</td>
                        <td>{{ competition.type }}</td>
                        <td>{{ competition.dateLimiteInscription | date('d-M-y') }}</td>
                        <td>{{ competition.inscriptionOuverte }}</td>
                        <td>{{ competition.nbParticipants }}</td>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('inscrit_new', { 'id': competition.id }) }}">S'incrire à la
                                            compétition</a>
                                    </li>
                                    {#<li>#}
                                        {#<a href="{{ path('inscrit_liste') }}">Voir la liste</a>#}
                                    {#</li>#}
                                </ul>
                            </td>
                            <td>
                                {% if is_granted('ROLE_GERANT') %}
                                    <ul>
                                        <li>
                                            <a href="{{ path('competition_show', { 'id': competition.id }) }}">Montrer</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('competition_edit', { 'id': competition.id }) }}">Modifier</a>
                                        </li>
                                    </ul>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
