{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <div class="new-user" style="background-color: #e6e6e6">
            <h1 class="titreG">Competition</h1>

    <table style="background-color: white">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ competition.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ competition.date | date('d-M-y') }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ competition.lieu }}</td>
            </tr>
            <tr>
                <th>Departement</th>
                <td>{{ competition.departement }}</td>
            </tr>
            <tr>
                <th>Club</th>
                <td>{{ competition.club }}</td>
            </tr>
            <tr>
                <th>Correspondants</th>
                <td>{{ competition.correspondants }}</td>
            </tr>
            <tr>
                <th>Cylindrée accepté</th>
                <td>{{ competition.cylindreAccepter }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ competition.type }}</td>
            </tr>
            <tr>
                <th>Date limite d'inscription</th>
                <td>{{ competition.dateLimiteInscription | date('d-M-y') }}</td>
            </tr>
            <tr>
                <th>Inscription ouverte</th>
                <td>{{ competition.inscriptionOuverte }}</td>
            </tr>
            <tr>
                <th>Nb participants</th>
                <td>{{ competition.nbParticipants }}</td>
            </tr>
        </tbody>
    </table>

            <ul>
                <li>
                    <a href="{{ path('competition_edit', { 'id': competition.id }) }}" class="bouton-relief">Modifier</a>
                </li>
                <br>
                <li>
                    <a href="{{ path('competition_index') }}" class="bouton-relief">Retour à la liste</a><br><br>
                </li
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Supprimer">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
    </div>
{% endblock %}
