<header id="header" style="height: 112px">
    <section class="container clearfix">
        <div class="logo"><a href="{{ path('logge') }}"><img alt="" src="{{ asset('images/logo.png') }}"></a></div>
        <nav class="navigation">
            <ul>
                <li class="current_page_item"><a href="{{ path('logge') }}">Accueil</a>


                </li>

                <li><a href="{{ path('login') }}">Connexion</a>
                    <ul>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li><a href="{{ path('user_show', { 'id': app.user.id }) }}">Profil</a></li>
                        {% endif %}

                        {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
                            <li><a href="{{ path('inscription') }}">Nouveau Membre</a></li>
                        {% endif %}

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li><a href="{{ path('logout') }}">Deconnexion</a></li>
                        {% endif %}
                    </ul>
                </li>


                <li><a href="#">Compétition</a>
                    <ul>
                        <li><a href="{{ path('competition_index') }}">Agenda</a></li>
                        {% if is_granted('ROLE_GERANT') %}
                        <li><a href="{{ path('competition_new') }}">Ajouter Compétition</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('categorie_index') }}">Catégorie</a></li>
                        {% endif %}
                        <li><a href="{{ path('inscrit_index') }}">Liste des inscrits</a></li>
                        <li><a href="{{ path('resultat_index') }}">Résultats</a></li>
                        {#<li><a href="{{ path('') }}">Classements</a></li>#}

                    </ul>
                </li>

                <li><a href="#">Réglement</a>
                    <ul>
                        <li>
                            <a href="http://www.cd.ufolep.org/maineetloire/maineetloire_d/data_1/pdf/di/dispositionsreglementsmoto2017.pdf">Reglement Général</a>
                        </li>
                        <li>
                            <a href="http://www.cd.ufolep.org/maineetloire/maineetloire_d/data_1/pdf/re/reglementcourses2016.pdf">Reglement Course</a>
                        </li>
                    </ul>
                </li>
                <li><a href="{{ path('inscrit') }}">Contact</a></li>
            </ul>
        </nav>
    </section><!-- End container -->
</header><!-- End header -->
