{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-2" style="background-color: #e6e6e6">
            <h1 class="titreG">Modifier resultat</h1>

            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" value="Valider la modification" class="bouton-relief"/>
            {{ form_end(edit_form) }}
            <br>
            <ul>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Supprimer" class="bouton-relief"/>
                    {{ form_end(delete_form) }}
                </li>
                <br>
                <li>
                    <a href="{{ path('resultat_index') }}" class="bouton-relief">Retour à la liste</a>
                </li>
                <br>
            </ul>
        </div>
    </div>
{% endblock %}
