{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <div class="new-resultat" style="background-color: #e6e6e6">
                <h1 class="titreG">Resultat</h1>

                <table style="background-color: white">
                    <tbody>
                    {#<tr>#}
                    {#<th>Id</th>#}
                    {#<td>{{ resultat.id }}</td>#}
                    {#</tr>#}
                    <tr>
                        <th>Position</th>
                        <td>{{ resultat.position }}</td>
                    </tr>
                    <tr>
                        <th>Num Dossard</th>
                        <td>{{ user.numDossard }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ user.nom }}</td>
                    </tr>
                    <tr>
                        <th>Prenom</th>
                        <td>{{ user.prenom }}</td>
                    </tr>
                    <tr>
                        <th>Point</th>
                        <td>{{ resultat.point }}</td>
                    </tr>
                    </tbody>
                </table>

                <ul>
                    <li>
                        <a href="{{ path('resultat_edit', { 'id': resultat.id }) }}" class="bouton-relief">Modifier</a>
                    </li>
                    <br>
                    <li>
                        <a href="{{ path('resultat_index') }}" class="bouton-relief">Retour à la liste</a>
                    </li>
                    <br><br><br>
                    <li>
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Supprimer">
                        {{ form_end(delete_form) }}
                    </li>
                    <br>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
