{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div style="background-color: #e6e6e6" class="new-resultat">
                <h1 class="titreG">Liste des types de compétitions</h1>
                <table style="background-color: white">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for typeCompet in typeCompets %}
                        <tr>
                            <td>
                                <a href="{{ path('typecompet_show', { 'id': typeCompet.id }) }}">{{ typeCompet.id }}</a>
                            </td>
                            <td>{{ typeCompet.nom }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('typecompet_show', { 'id': typeCompet.id }) }}">Montrer</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('typecompet_edit', { 'id': typeCompet.id }) }}">Modifier</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <ul>
                    <li>
                        <a href="{{ path('typecompet_new') }}" class="bouton-relief">Créer un nouveau type
                            compétition</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
