{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <div class="new-resultat" style="background-color: #e6e6e6">
                <h1 class="titreG">Type compétition</h1>

                <table style="background-color: white">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ typeCompet.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ typeCompet.nom }}</td>
                    </tr>
                    </tbody>
                </table>

                <ul>
                    <li>
                        <a href="{{ path('typecompet_index') }}" class="bouton-relief">Retour à la liste</a>
                    </li><br>
                    <li>
                        <a href="{{ path('typecompet_edit', { 'id': typeCompet.id }) }}"
                           class="bouton-relief">Modifier</a>
                    </li><br>
                    <li>
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Supprimer">
                        {{ form_end(delete_form) }}
                    </li><br>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
