{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-4">
            <div style="background-color: #e6e6e6" class="new-user">
                <h1 class="titreG">Categorie</h1>
                <table style="background-color:white">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ categorie.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ categorie.nom }}</td>
                    </tr>
                    </tbody>
                </table>
                <ul>
                    <li>
                        <a href="{{ path('categorie_index') }}" class="bouton-relief">Retour à la liste</a>
                    </li>
                    <br>
                    <li>
                        <a href="{{ path('categorie_edit', { 'id': categorie.id }) }}"
                           class="bouton-relief">Modifier</a>
                    </li>
                    <br>
                    <li>
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Supprimer">
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
